<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Detayli_Telefon_Rehberi.Properties.Settings.ConnectionStringTelefonUygulaması"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-0SS6619\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Telefon_Rehberi"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>